.container__header__all_v {
  &_navbar {
    padding-left: 70px;
    padding-top: 15px;
    position: fixed;
    top: 1;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
}

.fixed-nav {
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 2;
  transition: 0.5s;
  box-shadow: 1px 1px #d1cbcb;
  .container__header___all_v_navbar__nav-logo-color {
    opacity: 1;
    position: absolute;
  }
}
.container__header__all_v_navbar__nav-logo {
  width: 144px;
  height: 50px;
  background-repeat: no-repeat;
  margin: 10px 0 0 60px;
}
.color {
  opacity: -1;
}

.vacancies {
  height: 100vh;
  padding: 160px 0 60px;
  background: #fff;
  position: relative;
  &__cv {
    width: calc(45% - 40px);
    @include responsivesmall {
      width: 100%;
    }
    &__text {
      p {
        padding: 0 0 20px;
      }
    }
  }

  & h1 {
    padding: 0 0 32px;
    font-size: 32px;
    line-height: 1.29;
    font-weight: bold;
    letter-spacing: 0.01em;
    color: #222;
    @include responsivesmall {
      padding: 0;
      font-size: 24px;
    }
  }
  & > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &.jobs {
    padding: 120px 0 40px;
    min-height: 1px;
    height: 500px;
    @include responsivesmall {
      height: 580px;
    }
    & > div {
      @include responsivesmall {
        display: block;
      }
    }
    & .image {
      width: auto;
      @include responsivesmall {
        display: none;
      }
      & img {
        width: 460px;
      }
    }
  }
  &.image {
    width: 55%;
    & img {
      max-width: 100%;
      width: 100%;
    }
  }
  & p {
    padding: 0 0 20px;
    font-size: 18px;
    line-height: 1.56;
    color: #5f6773;
  }
  & a {
    color: #0e80e5;
  }
}

.vacanciees_frame {
  padding: 100px 0;
  background: #f6f8fe;
  @include responsivesmall {
    padding: 20px 0;
  }
  & > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 30px 30px;
    grid-auto-rows: 1fr;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    height: 720px;
    @include responsivesmall {
      grid-gap: 20px 20px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  & article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    padding: 40px 20px;
    background: #fff;
    border: 1px solid #ff931e;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    @include responsivesmall {
      padding: 20px 20px;
    }
    h3 {
      @include responsivesmall {
        font-size: 17px;
      }
    }
  }
  & article:hover {
    background: #ff931e;
    color: white;
  }
  &p {
    display: none;
    font-size: 18px;
    line-height: 1.56;
    color: #5f6773;
    @include responsivesmall {
      font-size: 14px;
    }
  }
  &a.transition {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    
  }
}

footer#footer_a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  padding: 35px 0 25px;
  min-height: calc(100vh - 80px);
  background-color: #000;
  background-image: url(../img/footer_bg.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  &.compact__all_v {
    min-height: 1px;
    padding: 34px 0 34px;
    background-image: none;

    & .footer_last__all_v {
      padding: 0 20px;
      @include responsivesmall {
        display: block;
        padding: 40px 20px 0;
        text-align: center;
      }
    }
  }
}
.footer_last__all_v {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}
.jis__all_v {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  @include responsivesmall {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  & p {
    padding: 0 10px 0 0;
    font-size: 12px;
    line-height: 2.67;
    color: #fff;
  }
  & a {
    display: inline-block;
    padding: 0 0 0 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.67;
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  & a::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(https://www.simbrella.com/site/templates/img/jis_logo.svg)
      no-repeat 0 0;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
  }
}

.copyright__all_v {
  width: calc(100% - 360px);
  font-size: 16px;
  line-height: 1.5;
  color: #999;
  @include responsivesmall {
    width: 100%;
    padding: 10px 0 0;
    font-size: 14px;
  }
}
