
@import "./mixins";

   header#header__skill {
        width: 100%;
        height: 110px;        
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2; 
     
        &> div {     
            display: flex;   
            justify-content: space-between;       
            align-content: stretch;       
            align-items: center;
            width: 100%;
            max-width: 1140px;
            height: 110px;
            margin: 0 auto;
            padding: 0 20px;
            transition: all 0.3s;   
            @include responsivesmall{
                   display: block;
   
            } 
                  
        }      
        & .logo__skill a {
            display: inline-block;            
            background-image: url(../images/logo.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;       
            animation-duration: 0.15s;       
            transition: all 0.15s linear;
            width: 154px;
            height: 53px;
        } 
    } 
    
        .vacancies_skills {       
        display: flex;       
        flex-direction: column;        
        justify-content: flex-end;      
        height: 200px;
        padding: 0 0 70px;
        background-color: #0C0D26;
        background-repeat: no-repeat;
        background-position: 0 30%;
        background-image: url(../images/vacancies_header_bg.svg);
        background-size: cover;
        @include responsivesmall{
            height: auto !important;
          padding: 120px 0 30px !important;
        }
        
        &.skill {
            height: 330px;           
            position: relative;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            position: absolute;
            left: 0;
            top: 0;
        }
        & h1 {
            font-weight: bold;
            font-size: 36px;
            line-height: 1.29;
            letter-spacing: 0.01em;
            color: #fff;
             
                @include responsivesmall{
                    padding: 0 0 20px;
                font-size: 24px;
                }
             
        }
        &> div {       
        display: flex;
        flex-direction: row;
        justify-content: space-between;     
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        @include responsivesmall{
            display: block;
        }
    }
     
    }
 
    header#header__skill.fix_me {
        height: 80px;
        background: #fff;
        & .logo__skill a {
            background-image: url(../images/logo_colored.svg);
            background-size: contain;
        }   
        &> div {
            height: 80px;
        }      
    }

    .skills__requirements {
        padding: 60px 0 90px;
        background: #F6F8FE;
        @include responsivesmall{
                padding: 30px 0 20px;
        }
        &> div {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 20px;
        }
        article {
            padding: 0 0 30px;
            margin: 0 0 60px;
            border-bottom: 1px solid #E7E7E7;
        }
         h3 {
            width: 100%;
            padding: 0 0 18px;
            font-size: 32px;
            line-height: 1.33;
            font-weight: bold;
            letter-spacing: 0.01em;
            color: #222;
            @include responsivesmall{
                font-size: 21px;
            }
        }
        .text {
            width: 100%;
        }
        ul {
            list-style: none;
        }
         li {
            margin: 0 0 24px;
            padding: 0 0 0 21px;
            font-size: 18px;
            line-height: 1.56;
            color:black;
            position: relative;
            @include responsivesmall{
                margin: 0 0 18px;
             font-size: 16px;
            }
        }
        & li::before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background: #FF931E;
            position: absolute;
            left: 0;
            top: 8px;
            border-radius: 50%;
        }
        
    } 
    .skills__requirements__container {
        padding: 120px 0;
        background: #2D3192;
        @include responsivesmall{
                padding: 40px 0;
        }
        & > div {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 20px;
        }
        & h2 {
            padding: 0 0 80px;
            font-size: 36px;
            line-height: 1.29;
            letter-spacing: 0.01em;
            color: #fff;
            @include responsivesmall{
                padding: 0 0 20px;
    font-size: 21px;
            }
        }
    }
    
    .skills__requirements__form{       
        display: flex;       
        flex-direction: row;        
        justify-content: space-between;        
        align-items: flex-start;
        padding: 0 0 80px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        @include responsivesmall{
                display: block;
    padding: 0 0 40px;
        }
        &_l_side {       
            display: flex;       
            justify-content: space-between;          
            align-items: flex-start;
            width: calc(55% - 15px);
            @include responsivesmall{
                display: block;
             width: 100%;
             padding: 0 0 20px;
            }
        }
        &_input {
            width: calc(33.333% - 15px);
            @include responsivesmall{
                    width: 100%;
             padding: 0 0 20px;
            }
            & input {
                display: block;
                width: 100%;
                height: 64px;
                padding: 0 20px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                background: none;
                font-size: 16px;
                font-weight: 300;
                font-family: 'fooont';
                color: #fff;
                border-radius: 12px;    
            }
        }
        &_r_side {       
            display: flex;       
            justify-content: space-between;        
            align-content: stretch;      
            align-items: flex-start;
            width: calc(45% - 15px);
            @include responsivesmall{
                  display: block;
                 width: 100%;
            }
            & .file_upload {
                width: calc(50% - 15px);
                @include responsivesmall{
                    width: 100%;
                 margin: 0 0 20px;
                }
                & label {        
                    display: flex;        
                    flex-direction: column;      
                    justify-content: center;      
                    align-items: center;
                    width: 100%;
                    height: 64px;
                    text-align: center;
                    border: 1px dashed rgba(255, 255, 255, 0.5);
                    border-radius: 12px;
                    cursor: pointer;
                }
                & input {
                    display: none;
                }
                & span {
                    display: inline-block;
                    padding: 0 10px 0 27px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 2;
                    color: #fff;
                    white-space: nowrap;
                    max-width: 70%;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    background: url(https://www.simbrella.com/site/templates/img/file_white_icon.svg) no-repeat 0 50%;
                }
            }
        }
        & .submit {
            width: calc(50% - 15px);
            @include responsivesmall{
                    width: 100%;
            }
            & button {
                display: block;
                width: 100%;
                height: 64px;
                padding: 0 80px 0 24px;
                border: none;
                font-weight: 600;
                font-size: 16px;
                line-height: 64px;
                text-align: left;
                letter-spacing: -0.04em;
                color: #eee;
                text-decoration: none;
                background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 24px) 50%;             
                box-shadow: inset 0 0 0 3px #dfe4eb;
                border-radius: 12px;
                position: relative;
                overflow: hidden;
                cursor: pointer;                             
            }
            & button:hover{
                 border: 2px solid orange;
                 box-shadow: inset 0 0 0 1px orange;
                 border-radius: 12px;
                 background{
                    transform: translateX(10px);
                    transition: 0.5s;
                 }
            }
        }
       
    }
  
    .skills__requirements__icon {      
        display: flex;  
        justify-content: space-between;      
        align-content: stretch;       
        align-items: flex-start;
        padding: 85px 0 0;
        @include responsivesmall{
            padding: 40px 0 0;
        }
        & article{
            width: calc(33.333% - 30px);
            @include responsivesmall{
                    width: calc(33.333% - 15px);
                 padding: 0 0 20px;
                 text-align: center;
            }
        }
        & .icon {
            height: 96px;
            img{
                @include responsivesmall{
                        width: 48px;
                }
            }
            @include responsivesmall{
                display: flex;
            
             flex-direction: row;
             flex-wrap: nowrap;
         
            justify-content: center;
                align-content: stretch;
                -webkit-box-align: center;
                align-items: center;
            }
        }
        & h3 {
        padding: 0 0 16px;
        font-weight: bold;
        font-size: 25px;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: #fff;
        @include responsivesmall{
            padding: 0 0 8px;
    font-size: 14px;
        }
    }
    }
    
  
  

    // footer
footer#footer__skills__requirements { 
    display: flex;  
    flex-direction: column;  
    flex-wrap: nowrap;    
    align-content: stretch; 
    align-items: stretch;
    padding: 35px 0 25px;
    min-height: calc(100vh - 80px);
    background-color: #000;
    background-image: url(../img/footer_bg.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    @include responsivesmall{
            min-height: 1px;
    padding: 34px 0 34px;
    background-image: none;
    }
    &.compact__skills__requirements{
      min-height: 1px;
      padding: 34px 0 34px;
      background-image: none;
      & .footer_last__skills__requirements {
        padding: 0 20px;
        @include responsivesmall{
            display: block;
    padding: 40px 20px 0;
    text-align: center;
        }
      }
    }
  }
  
  .footer_last__skills__requirements{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px 0; 
    display: flex;      
    justify-content: space-between; 
    }
    
  .jis__skills__requirements { 
    display: flex;   
    justify-content: flex-start;       
    align-items: center;
    @include responsivesmall{
        -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    }
    & p {
      padding: 0 10px 0 0;
      font-size: 12px;
      line-height: 2.67;
      color: #fff;
    }
    & a {
      display: inline-block;
      padding: 0 0 0 30px;
      font-weight: 500;
      font-size: 12px;
      line-height: 2.67;
      color: #fff;
      text-decoration: none;
          position: relative;
    }
    & a::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url(https://www.simbrella.com/site/templates/img/jis_logo.svg) no-repeat 0 0;
      position: absolute;
      left: 0;
      top: calc(50% - 10px);}
  }
  
  
  .copyright__skills__requirements {
    width: calc(100% - 360px);
    font-size: 16px;
    line-height: 1.5;
    color: #999;
    @include responsivesmall{
            width: 100%;
    padding: 10px 0 0;
    font-size: 14px;
    }
    
  }
    