@import "./mixins";

.enhance {
  width: 100%;
  height: 500px;
  @include responsivesmall {
    padding: 30px 0;
    width: 100%;
  }

  &__wrapper {
    width: 1100px;
    position: relative;
    flex-wrap: wrap;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;

    @include responsivesmall {
      width: 100%;
      position: relative;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
      color: #2d3192;
      font-weight: bold;
      display: flex;
      width: 90%;
      left: 0px;
      margin-top: 40px;

      margin-right: 5px;
      @include responsivesmall {
        padding: 0 0 10px;
        font-size: 24px;
        text-align: center;
      }
    }

    &__information {
      flex-wrap: wrap;

      margin: 0 auto;
      display: flex;
      justify-content: center;
      @include responsivesmall {
        flex-wrap: wrap;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 30px 0;
      }

      &__numbers {
        width: 326px;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include responsivesmall {
          width: 240px;
          
          padding: 20px 0;
          border: none !important;
          display: flex;

          justify-content: center;

          
          flex-wrap: wrap;
          align-items: center;
        }

        p {
          color: #ff931e;
          font-size: 45px;
          padding: 5px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          @include responsivesmall {
            padding: 0 0 6px;
            font-size: 27px;
          }
        }
        span {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          font-family: Arial, Helvetica, sans-serif;
          @include responsivesmall {
            font-size: 12px;
            padding: 0 0 6px;
             display: block;
          
          }
        }
      }
    }
  }
}
