@import "./mixins";

.container__header__inv {     
    height: 55vh;
    background-image: url(https://www.simbrella.com/site/templates/img/vacancy_bg.jpg);
    background-size: cover;
    position: relative;   
    @include responsivesmall{
        height: auto !important;
        padding: 120px 0 30px !important;
    }
    h1{
           padding-left: 200px;
            font-weight: bold;
            @include responsivesmall{
                    padding: 0 0 20px;
                font-size: 24px;
            }
        }
    &__navbar {        
        display: flex;       
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
       justify-items: center;
        align-items: center;
        
      }  
  }  
  .container__header__inv_p{  
   padding-top: 15%;
   padding-left: 50px; 
    color: white;    
  }
  .fixed-nav {
    width: 100%;
    height: 80px;
    background-color: white;
  
    z-index: 2;
    transition: 0.5s;
    .container__header__inv__navbar__nav-logo-white {
     opacity: -1;
     position: absolute;
     } 
    .container__header__inv__navbar__nav-logo-color1{
      opacity: 1;      
      position: absolute;
    } 
    }  
 
  .container__header__inv__navbar__nav-logo {
    width: 144px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 10px 0 0 60px;
   
    &-color1{
    opacity: -1;
  
    }
  }

  
  .story_wrapper {
    padding: 90px 0;
    background-color: #F6F8FE;
    overflow: hidden;
    @include responsivesmall{
        padding: 30px 0;
    }
    &_inner {
      min-height: 626px;
      @include responsivesmall{
            min-height: 1px;
      }
    }
    &_text {
      font-size: 18px;
      line-height: 1.56;
      color: #222;
      & p {
        padding: 0 0 24px;
      }
    }
    h2 {
      padding: 0 0 24px;
      font-weight: bold;
      font-size: 56px;
      line-height: 1.29;
      letter-spacing: 0.01em;
      color: #2D3192;
      @include responsivesmall{
            padding: 0 0 16px;
    font-size: 27px;
      }
    }
    &_year {
      width: 100%;
      height: 700px;
      text-align: center;
      position: relative;
      @include responsivesmall{
            height: 80vw;
      }
      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
        left: calc(50% - 100px);
        bottom: 36px;
        border: none;
        border-right: 2px solid #2D3192;
        border-bottom: 2px solid #2D3192;
        border-radius: 0 0 100% 0;
      }
      
    & em {
      display: inline-block;
      width: 424px;
      height: 424px;
      border: 2px solid #2D3192;
      position: absolute;
      left: calc(50% - 212px);
      top: calc(50% - 212px);
      border-radius: 50%;
      @include responsivesmall{
        width: 60vw;
    height: 60vw;
    left: calc(50% - 30vw);
    top: calc(50% - 30vw);
      }
      &::before {
        content: "";
        display: block;
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        background-color: #fff;
        position: absolute;
        left: 25px;
        top: 25px;
        border-radius: 50%;
      }
    }
    & strong {
      display: inline-block;
      width: 424px;
      height: 424px;
      border: 2px solid #2D3192;
      position: absolute;
      left: calc(100% + 60px);
      top: calc(50% - 212px);
      border-radius: 50%;
    }
    & span {
      font-weight: bold;
      font-size: 210px;
      line-height: 700px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #FF931E;
      position: relative;
      @include responsivesmall{
        line-height: 80vw;
    font-size: 30vw;
      }
    }
    }
   
    & article {
      width: calc(50% - 15px);
      @include responsivesmall{
        width: 100%;
      }
    }
}
.story_wrapper > div { 
  display: flex;   
  flex-direction: row;  
  flex-wrap: nowrap;  
  justify-content: space-between;  
  align-content: stretch;  
  align-items: stretch;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  @include responsivesmall{
    display: block;
  }
}

.story_wrapper article:first-child .story_wrapper_year::before {
  left: calc(50% - 0px);
  top: 36px; 
  transform: rotate(180deg);
}

.story_wrapper article:first-child .story_wrapper_year strong {
  left: auto;
  right: calc(100% + 60px);
}

.story_wrapper article:first-child .story_wrapper_year::after {
  content: "";
  display: block;
  width: calc(100% - 170px);
  height: 2px;
  background-color: #2D3192;
  position: absolute;
  left: calc(50% + 100px);
  top: 36px;
  
}
.vacancies_last {
  display: flex;
 justify-content: space-around;
 align-items: center;
  padding: 90px 0;
  background-color: #F6F8FE;
  overflow: hidden;
  @include responsivesmall{
        padding: 30px 0;
  }
  & h2{
    padding: 0 0 40px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    color: #222;
    @include responsivesmall{
            padding: 0 0 16px;
    font-size: 27px;
    }
    p{
        @include responsivesmall{
                padding: 0 0 16px
        }
    }
  }
  & .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(50% - 15px);
    @include responsivesmall{
            width: 100%;
    padding: 0 0 24px;
    }
  }
  & .text {
    font-size: 18px;
    line-height: 1.56;
    color: #222;
    & li {
      margin: 0 0 24px;
      padding: 0 0 0 21px;
      position: relative;
      @include responsivesmall{
            margin: 0 0 16px;
      }
    }
  }
  
}
.vacancies_last > div {  
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;  
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  @include responsivesmall{
        display: block;
  }
}
ol, ul {
  list-style: none;
}

.vacancies_last .text li::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #FF931E;
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 50%;
}

.r_sidee{
  display: flex;
  border: 2px solid rgb(13, 0, 128);
  width: calc(50% - 15px);
  box-shadow: 0 2px 0 0 #2d3192;
  border-radius: 16px;
  @include responsivesmall{
        width: 100%;
  }
  & form{
    @include responsivesmall{
            padding: 24px;
    }
    & h3{  
      padding: 40px 20px 30px 20px;    
        font-weight: 600;
        font-size: 18px;
        line-height: 1.56;
        color: #222;  
        @include responsivesmall{
                padding: 0 0 16px;
             font-size: 16px;
        }
     
    }
  }
}

.form_inp{
  height: 56px;
  border-radius: 12px;
  padding: 0 20px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid #DDDEE1;
  font-size: 16px;
  color: #000;
  @include responsivesmall{
        margin: 0 0 24px;
  }
  &.company{
   width: 93.5%;  
    
    @include responsivesmall{
        width: 100%;
        margin: 0 0 24px;
  } 
  } 
}
.form_inp:focus{
  outline: none;
  border:1px solid rgb(52, 31, 145);
}
.textarea {
  width: 93.5%; 
  height: 140px;
  padding: 16px 20px;
  border: 1px solid #DDDEE1;
  font-size: 16px;
  color: #000;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 12px;
  resize: none;}
  .textarea:focus{
    outline: none;
    border:1px solid rgb(52, 31, 145);
  }

.err_input{
  height: 56px;
  border: 1px solid #f00;
  border-radius: 12px;
}

.btnn{  
  width: calc(50% - 15px);
  height: 64px;
  padding: 0 48px 0 24px;
  margin-top: 40px;
  margin-right: 20px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 64px;
  color: #fff;
  text-align: left;
  margin-left: 50%;
  background-color: #FF931E;
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) 50%;
  background-image: url(https://www.simbrella.com/site/templates/img/link_white_arrow.svg);
  border-radius: 12px;
  cursor: pointer;
  
}

footer#footer__investors { 
  display: flex;  
  flex-direction: column;  
  flex-wrap: nowrap;    
  align-content: stretch; 
  align-items: stretch;
  padding: 35px 0 25px;
  min-height: calc(100vh - 80px);
  background-color: #000;
  background-image: url(../img/footer_bg.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  &.compact__inv {
    min-height: 1px;
    padding: 34px 0 34px;
    background-image: none;
    & .footer_last__inv {
      padding: 0 20px;
    }
  }
}

.footer_last__inv {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px 0; 
  display: flex;  
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: space-between; 
  align-content: stretch; 
  align-items: stretch;
  @include responsivesmall{
        display: block;
    padding: 40px 20px 0;
    text-align: center;
  }
}
.jis__inv { 
  display: flex;  
  flex-direction: row; 
  flex-wrap: nowrap;  
  justify-content: flex-start;  
  align-content: stretch;  
  align-items: center;
  @include responsivesmall{
    -ms-flex-pack: center;
    justify-content: center;
  }
  & p {
    padding: 0 10px 0 0;
    font-size: 12px;
    line-height: 2.67;
    color: #fff;
  }
  & a {
    display: inline-block;
    padding: 0 0 0 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.67;
    color: #fff;
    text-decoration: none;
        position: relative;
  }
  & a::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(https://www.simbrella.com/site/templates/img/jis_logo.svg) no-repeat 0 0;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);}
}


.copyright__inv {
  width: calc(100% - 360px);
  font-size: 16px;
  line-height: 1.5;
  color: #999;
  @include responsivesmall{
    width: 100%;
    padding: 10px 0 0;
    font-size: 14px;
  }
}