@import "./mixins";

.index header#header {
    background: none;
    position: fixed;
}
header#header {
    width: 100%;
    height: 110px;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    -moz-animation-duration: 0.3s;
    -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-duration: 0.3s;
    -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
header#header > div {
    
    display: -ms-flexbox;
    display: flex;
    
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    height: 110px;
    margin: 0 auto;
    padding: 0 20px;
    -moz-animation-duration: 0.3s;
    -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-duration: 0.3s;
    -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.index .logo a {
    background-image: url(../images/logo.svg);
}
.logo a {
    display: inline-block;
    width: 154px;
    height: 53px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    -moz-animation-duration: 0.15s;
    -moz-transition: all 0.15s linear;
    animation-duration: 0.15s;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
a {
    color: #0e80e5;
}
////header ends////
//Body///
.current_news {
    padding: 0px 0 90px;
    background: #F6F8FE;
    @include mobileversion{
        padding: 0px 0 40px;
    }
}
.current_news h1 {
    padding: 0px 0 30px;
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.29;
    letter-spacing: 0.01em;
    color: #2D3192;
    position: relative;
    @include mobileversion{
        padding: 0 0 20px;
        font-size: 24px;
    }
    
}
.current_news h1::before {
    content: "";
    display: block;
    width: 100%;
    height: 110px;
    margin: 0 0 20px;
    background-color: #0C0D26;
}
.current_news h1 span {
    display: block;
    max-width: 820px;
    margin: 0 auto;
    padding: 0 20px;
}
.current_news .text {
    max-width: 820px;
    margin: 0 auto;
    padding: 0 20px;

    @include mobileversion{
        font-size: 16px;
    }
    
}

.current_news .main_image {
    padding: 0 0 60px;
    @include mobileversion{
        padding: 0 0 30px;
    }
    
}
.current_news .main_image img {
    display: block;
    width: 100%;
    border-radius: 4px;
}
.current_news .text p {
    padding: 0 0 40px;
    font-size: 18px;
    line-height: 1.56;
    color: #222;

    @include mobileversion{
        padding: 0 0 25px;
         font-size: 16px;
    }
    
}