@import "./mixins";

body{
    min-height: 180vh;
}
.vacancies_header {
   
    display: flex;
   
    flex-direction: column;
    
    flex-wrap: nowrap;
    
    justify-content: flex-end;
   
    align-content: stretch;
   
    align-items: stretch;
    height: 300px;
    padding: 0 0 70px;
    background-color: #0C0D26;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url(../images/vacancies_header_bg.svg);
    background-size: cover;
   @include responsivesmall{
       height: auto !important;
       padding: 120px 0 30px !important;

   }
}
.vacancies_header > div {
    
    display: flex;
   
    flex-direction: row;
    
    flex-wrap: nowrap;
   
    justify-content: space-between;
   
    align-content: stretch;
   
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    @include responsivesmall{
        display: block;

    }
}
.vacancies_header h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.29;
    letter-spacing: 0.01em;
    color: #fff;
@include responsivesmall{
    padding: 0 0 20px;
    font-size: 24px;

}
}
///////////////////////////////////////////////////////////////////////////////////////////////
/// HEADER///////////////////////////////////////////////////////////////////////////////////
header#header__skill {
    width: 100%;
    height: 110px;        
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2; 
    &> div {     
        display: flex;   
        justify-content: space-between;       
        align-content: stretch;       
        align-items: center;
        width: 100%;
        max-width: 1140px;
        height: 110px;
        margin: 0 auto;
        padding: 0 20px;
        transition: all 0.3s;            
    }      
    & .logo__skill a {
        display: inline-block;            
        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;       
        animation-duration: 0.15s;       
        transition: all 0.15s linear;
        width: 154px;
        height: 53px;
    } 
} 

    .vacancies_skill {       
    display: flex;       
    flex-direction: column;        
    justify-content: flex-end;      
    height: 200px;
    padding: 0 0 70px;
    background-color: #0C0D26;
    background-repeat: no-repeat;
    background-position: 0 30%;
    background-image: url(https://www.simbrella.com/site/templates/img/vacancies_header_bg.svg);
    background-size: cover;
    &.skill {
        height: 330px;           
        position: relative;
    }
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        position: absolute;
        left: 0;
        top: 0;
    }
    & h1 {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.29;
        letter-spacing: 0.01em;
        color: #fff;
    }
    &> div {       
    display: flex;
    flex-direction: row;
    justify-content: space-between;     
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
 
}

header#header__skill.fix_me {
    height: 80px;
    background: #fff;
    & .logo__skill a {
        background-image: url(https://www.simbrella.com/site/templates/img/logo_colored.svg);
        background-size: contain;
    }   
    &> div {
        height: 80px;
    }      
}

.news_list {
    min-height: 600px;
    padding: 60px 0 20px;
    @include responsivesmall{
        min-height: 600px;
        padding: 60px 0 20px;

    }
}
.news_list > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 50px 30px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
@include responsivesmall{
    grid-template-columns: 1fr;
    grid-gap: 30px 20px;

}

}
.news_list article {
    position: relative;
}
.news_list .image {
    padding: 0 0 24px;
}
.news_list .image img {
    display: block;
    width: 100%;
    border-radius: 4px;
}
.news_list h3 {
    min-height: 100px;
    padding: 0 0 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.64;
    color: #222;
}
.news_list time {
    font-size: 18px;
    line-height: 1.33;
    color: #5F6773;
}

a.full_link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
// inside footer///
footer#footerr.compactt {
    min-height: 1px;
    padding: 34px 0 34px;
    background-image: none;
}
footer#footerr {
    
    display: flex;
    
    flex-direction: column;
    
    flex-wrap: nowrap;
    
    justify-content: space-between;
   
    align-content: stretch;
    
    align-items: stretch;
    padding: 35px 0 25px;
    min-height: calc(100vh - 80px);
    background-color: #000;
    background-image: url(../img/footer_bg.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    @include responsivesmall{
    min-height: 1px;
    padding: 20px 0 20px;
}
    }

footer#footerr.compactt .footer_lastt {
    padding: 0 20px;
    @include responsivesmall{
            padding: 0 20px;
    }
}
.footer_lastt {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px 0;
    display: flex;
    
    flex-direction: row;
   
    flex-wrap: nowrap;
    
    justify-content: space-between;
    
    align-content: stretch;
    
    align-items: stretch;
    @include responsivesmall{
            display: block;
            padding: 40px 20px 0;
            text-align: center;
    }
}
.jiss {
   
    display: flex;
    
    flex-direction: row;
   
    flex-wrap: nowrap;
   
    justify-content: flex-start;
    
    align-content: stretch;
    
    align-items: center;
    @include responsivesmall{
        
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

    }
}
.jiss p {
    padding: 0 10px 0 0;
    font-size: 12px;
    line-height: 2.67;
    color: #fff;
}
.jiss a {
    display: inline-block;
    padding: 0 0 0 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.67;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.jiss a::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/jis_logo.svg) no-repeat 0 0;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}
.copyrightt {
    width: calc(100% - 360px);
    font-size: 16px;
    line-height: 1.5;
    color: #999;
    @include responsivesmall{
            width: 100%;
    padding: 10px 0 0;
    font-size: 14px;
    }
}