@mixin mobileversion {
  @media only screen and(max-width:991px) {
    @content;
  }
}
@mixin responsive{
  @media only screen and (max-width:960px){

    @content;
  }
  
}

@mixin responsivebig{
  @media only screen and (max-width:1022px){

    @content;
  }
  
}

@mixin responsivemin{
  @media only screen and (max-width:768px){
  @content;
  }
  
  
}


@mixin responsivesmall{
  @media (min-width: 240px) and (max-width: 479px){
    @content;
  }
}