.products {
    padding: 60px 0;
    background-color: #2d3192;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(https://www.simbrella.com/site/templates/img/products_bg.svg);
    background-size: cover;
    @include mobileversion() {
      padding: 30px 0 20px;
    }
    &__wrapper {
      
      &__text {
        
        @include mobileversion() {
          padding: 0 0 16px;
          
          font-size: 27px;
        }
        padding-bottom: 60px;
        font-weight: 600;
        font-size: 56px;
        line-height: 1.29;
        letter-spacing: 0.01em;
        color: #fff;
        margin-left: 3em;
      }
      &__rounds {
        @include mobileversion() {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: minmax(min-content, max-content);
          grid-gap: 20px 20px;
          width: 100%;
          height: auto;
        }
        width: 618px;
        height: 624px;
        margin: 0 auto;
        position: relative;
        &__item {
          transition: 0.3s;
          &--1 {
            @include mobileversion() {
              height: auto;
              min-height: 90px;
              width: auto;
              position: static;
            }
            width: 210px;
            height: 150px;
            position: absolute;
            left: calc(50% - 105px);
            top: 0px;
          }
          &--2 {
            @include mobileversion() {
              height: auto;
              min-height: 90px;
              width: auto;
              position: static;
            }
            width: 202px;
            height: 202px;
            position: absolute;
            left: 386px;
            top: 31px;
          }
          &--3 {
            @include mobileversion() {
              height: auto;
              min-height: 90px;
              width: auto;
              position: static;
            }
            width: 150px;
            height: 210px;
            position: absolute;
            left: 468px;
            top: 208px;
          }
          &--4 {
            @include mobileversion() {
              height: auto;
              min-height: 90px;
              width: auto;
              position: static;
            }
            width: 202px;
            height: 202px;
            position: absolute;
            left: 386px;
            top: 390px;
          }
          &--5 {
            @include mobileversion() {
              height: auto;
              min-height: 90px;
              width: auto;
              position: static;
            }
            width: 210px;
            height: 150px;
            position: absolute;
            left: 204px;
            top: 474px;
          }
          &--6 {
            @include mobileversion() {
              height: auto;
              min-height: 90px;
              width: auto;
              position: static;
            }
            width: 202px;
            height: 202px;
            position: absolute;
            left: 28px;
            top: 390px;
          }
          &--7 {
            @include mobileversion() {
              height: auto;
              min-height: 90px;
              width: auto;
              position: static;
            }
            width: 150px;
            height: 210px;
            position: absolute;
            left: 0;
            top: 208px;
          }
          &--8 {
            @include mobileversion() {
              height: auto;
              min-height: 90px;
              width: auto;
              position: static;
            }
            width: 202px;
            height: 202px;
            position: absolute;
            left: 29px;
            top: 31px;
          }
          &__svg {
            position: absolute;
            width: 0;
            height: 0;
          }
          &__link {
            &--1 {
              @include mobileversion() {
                width: 100%;
                min-height: 90px;
                padding: 16px 0;
                clip-path: none !important;
              }
              clip-path: url(#clip_1);
            }
            &--2 {
              @include mobileversion() {
                width: 100%;
                min-height: 90px;
                padding: 16px 0;
                clip-path: none !important;
              }
              clip-path: url(#clip_2);
              &__text {
                @include mobileversion() {
                  margin: 0 !important;
                }
                margin: 15px 15px 0 0;
              }
            }
            &--3 {
              @include mobileversion() {
                width: 100%;
                min-height: 90px;
                padding: 16px 0;
                clip-path: none !important;
              }
              clip-path: url(#clip_3);
            }
            &--4 {
              @include mobileversion() {
                width: 100%;
                min-height: 90px;
                padding: 16px 0;
                clip-path: none !important;
              }
              clip-path: url(#clip_4);
              &__text {
                @include mobileversion() {
                  margin: 0 !important;
                }
                margin: 0 15px 15px 0px;
              }
            }
            &--5 {
              @include mobileversion() {
                width: 100%;
                min-height: 90px;
                padding: 16px 0;
                clip-path: none !important;
              }
              clip-path: url(#clip_5);
            }
            &--6 {
              @include mobileversion() {
                width: 100%;
                min-height: 90px;
                padding: 16px 0;
                clip-path: none !important;
              }
              clip-path: url(#clip_6);
              &__text {
                @include mobileversion() {
                  margin: 0 !important;
                }
                margin: 0 0 15px 15px;
              }
            }
            &--7 {
              @include mobileversion() {
                width: 100%;
                min-height: 90px;
                padding: 16px 0;
                clip-path: none !important;
              }
              clip-path: url(#clip_7);
            }
            &--8 {
              @include mobileversion() {
                width: 100%;
                min-height: 90px;
                padding: 16px 0;
                clip-path: none !important;
              }
              clip-path: url(#clip_8);
              &__text {
                @include mobileversion() {
                  margin: 0 !important;
                }
                margin: 15px 0 0 15px;
              }
            }
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            width: 100%;
            height: 100%;
            font-weight: bold;
            font-size: 18px;
            line-height: 1;
            text-align: center;
            color: #fff;
            text-decoration: none;
            background-color: #3595ee;
            object-fit: cover;
            &__text {
              display: inline-block;
              padding: 0 15px;
            }
          }
        }
        &__p-box {
          &__content-of-product {
            @include mobileversion {
              background-color: #fff;
              color: #2d3192;
              box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
            }
            width: 270px;
            height: auto;
            font-size: 13px;
            line-height: 1.54;
            text-align: center;
            letter-spacing: -0.02em;
            color: #fff;
            position: absolute;
            left: 28%;
            top: 40%;
            transition: 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
            transition-delay: 0s;
          }
        }
      }
    }
  }