@import "./mixins";
.tech-powered{
    width: 100%;
    height: 600px;
    background-image: url("https://www.simbrella.com/site/assets/files/1049/solutions_bg-1.jpg");
   background-attachment:fixed ;
   background-position: center;
   background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    @include responsivesmall{
            min-height: 1px;
    height: auto;
    padding: 0px 0;
    background-position: 50% 100%;

    display: flex;
    
    flex-direction: column;
    justify-content: flex-end;
    align-content: stretch;
    align-items: stretch;
    padding: 0;
    
    }

    @include responsivemin{
         background-image: url('https://www.simbrella.com/site/assets/files/1049/solutions_bg-1.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        
    }
     flex-direction: row;
     &__left{

        width: 50%;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include responsivesmall{
            width: 100%;
            height: 350px;
        }
        h2{
             width: 520px;
                color: white;
                text-align: left;
                font-size: 54px;
                line-height: 1.29;
                letter-spacing: 0.01em;
                text-shadow: 2px 2px 6px black;
                font-weight: bold;
                @include responsivemin{
                     
                
                width: 70%;
            
                }

                @include responsivesmall{
                       padding: 100px 20px 100px;
                     width: 100%;
                      font-size: 27px;
                    line-height: 1.7;
                   text-align: center;
                }
        }
     }
     
     &__right{
         width: 50%;
         height: 100%;
         background-color:rgba(45, 49, 146, 0.6);
         animation-name: slide;
         animation-iteration-count: 1;
         animation-duration: 1.3s;

         @keyframes slide{
            0%{
                height: 0%;
            }            

            100%{
                height: 100%;
            }
         } 
        
         
         
         @include responsivemin{
               background-color:rgba(45, 49, 146, 0.6);
         }
         @include responsivesmall{
                width: 100%;
        //  padding: 20px 20px;
        
         background: rgba(45, 49, 146, 0.6);
         }
         ul{
             padding-top:30px ;
             padding-left: 100px;
             list-style-type: none;
             display: block;
                align-items: center;
                justify-content: center;
                
                @include responsivemin{
                     list-style-type: none !important;
                width: 80% !important;
                }
                @include responsivesmall{
                   
                    
                    

                }
                li{
                     border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                    padding:12px 0;
                    text-align: left ;
                    margin-top: 20px;
                    @include responsivemin{
                       
                    border-bottom:1px solid #504e78 ;
                    font-weight: bold;
                    
                    }
                    @include responsivesmall{
                            padding: 0px 0px;
                           
                           width: 100%;
                    }
                    h3{
                         
                        color: white;
                        opacity: 1;
                        padding: 0 0 0px;
                        font-weight: bold;
                        font-size: 21px;
                        line-height: 1.12;
                        @include responsivesmall{
                            font-size: 16px;
                             font-weight: 500;
                             text-align: center;
                             line-height: 1.4;
                            
                             
                             
                        }
                    }
                }
 
            }
     }
   
}
