@import "./mixins";
.whatwedo-container {
  padding: 50px 200px;
  width: 100%;

  .buton a {
    display: inline-block;
    height: 56px;
    padding: 0 100px 0 24px;
    border: 3.2px solid rgb(225, 223, 223);
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 56px;
    color: #222;
    text-decoration: none;
    background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg)
      no-repeat calc(100% - 24px) 50%;
  }
  .buton a:hover {
    border-color: #ff931e;
    transition: 0.6s;
    transform: translateX(8px);
  }

  h2 {
    color: rgb(44, 44, 136);
    font-weight: bold;
  }

  @include responsive {
    padding: 48px;
  }
  @include responsivesmall {
    padding: 0 0 16px;
    font-size: 27px;
    margin: 20px 10px;
  }

  &__what {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    @include responsivesmall {
      display: block;
      padding: 0 0 30px;
    }
  }
}
.grid {
  padding-top: 50px;
  display: grid;
  width: 100%;

  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;

  @include responsive {
    grid-gap: 16px;
  }
  @include responsivesmall {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 15px 10px;
    width: 100%;

    padding: 0 20px;
  }

  &__grid-item {
    max-height: 435px;
    background-color: #ffffff;
    border-radius: 6.4px;
    overflow: hidden;
    box-shadow: 0 48px 96px rgba(0, 0, 0, 0.1);
    border: 1px solid gainsboro;

    @include responsivesmall {
      height: auto;
      min-height: 90px;
      width: auto;
      position: static;
    }
    a {
      text-decoration: none;
      @include responsivesmall {
        width: 100%;
        min-height: 90px;
        padding: 14px 0;
        clip-path: none !important;
        font-size: 12px;
      }
    }

    cursor: pointer;
    transition: 0.6s;
  }
  &__grid-item:hover {
    transform: scale(1.05);
  }

  .grid-item__card__content {
    padding: 50px;
    h3 {
      padding-bottom: 20px;
      color: black;
      font-size: 20px;
    }
    p {
      color: gray;
    }
  }
  .card-img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 20px 0px;
  }
}
.button-for-whatwedo {
  border-radius: 11px !important;
  border: 3px solid #cccccc;
  outline: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  @include responsivesmall {
    padding: 0 20 20px;
  }
  text-decoration: none;
  &:hover {
    border-color: #ff931e;
    color: black;
  }
  &:hover img {
    transform: translateX(5px);
    transition: 0.2s;
  }
}


