@import "../pages/mixins";

.navigation{
   position: fixed;
  z-index: 5;
  width: 100%;
  padding: 40px 0;
  justify-content: space-between;
  background: transparent;
  transition: all 0.4s ease;

  &__content{
     width: 100%;
    margin: auto;
   padding: 0px 120px;
  display: flex;
  align-items: center;
  
  
  justify-content: space-between;
   &__logo_colored{
    opacity: -1;
  } 
     
  &__menu-list{
    display:inline-flex ;

    @include responsivebig{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 1022px;
    background: darkblue;
    display: block;
    padding: 25px 0;
    text-align: flex-start;
    transition: all 0.4s ease;
    }

    li{
      list-style: none;

      @include responsivebig{
         margin-top: 35px;
       border-bottom: 1px solid rgb(29, 30, 17);
      }
      a{
        color: rgb(247, 241, 241);
         text-decoration: none;
        font-size: 16px;
        font-weight: 500;
         margin-left: 25px;
         transition: all 0.3s ease;
         padding: 5px;
         @include responsivebig{
          font-size: 20px;
         }
      }
      a:hover{
        color: #FF931E !important;
      }
    }
  }
}
.icon {
  color: rgb(225, 225, 235);
  font-size: 20px;
  position: absolute;
  right: 30px;
  
  cursor: pointer;
  display: none;
  @include responsivebig{
    display: block;
    
    
  }
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 30px;
}
  }
   .navigation.sticky{
   padding: 15px 0;
  background: rgb(250, 250, 248);
   box-shadow: 0px 0px 5px 0px #00000075 !important;
   .navigation__content__logo_white{
    opacity: -1;
    position: absolute;
   }
   .navigation__content__logo_colored{
    opacity: 1;
   
    
   }
   
  a{
    color: black;
  }
  
 }


  @media (max-width: 1022px) {
  
  .icon.hide {
    display: none;

  }

  .navigation .navigation__content__menu-list.active {
    left: 0%;
  }

}

@media (max-width: 1022px) {
  .icon {
    display: block;
    
   
  }
  
  .icon.hide {
    display: none;
  }
  .navigation .navigation__content__menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 1022px;
    background: rgb(47, 47, 151);
    display: block;
    padding: 25px 0;
    text-align: flex-start;
    transition: all 0.4s ease;
  }
  .navigation .navigation__content__menu-list.active {
    left: 0%;
  }

  .navigation .navigation__content__menu-list li {
    margin-top: 35px;
    border-bottom: 1px solid rgb(87, 88, 86);
  }
  .navigation .navigation__content__menu-list li a {
    font-size: 16px;
  }
}